home-cluster-master1.yaml
home-cluster-master2.yaml
home-cluster-master3.yaml
talosconfig
home-cluster-hydrogen1.yaml
home-cluster-neon1.yaml
home-cluster-neon2.yaml
home-cluster-neon3.yaml
home-cluster-hydrogen0.yaml
home-cluster-neon0.yaml
